.card h2{
    color: aliceblue;
    font-size: 2rem;
   
  }
  .card h2:hover{
    border-left: 0.3rem solid rgb(158, 37, 37);
    }


  .card{
    border: 0.1rem solid black;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
   
    transition: all 0.1s;
  }
  .card:hover{
    box-shadow: 0.2rem 0.2rem rgb(160, 103, 194);
    translate: -0.2rem -0.2rem;
  }
  .card img{
    border-radius: 1rem;
  }
.tags-list{
        margin-bottom: 1rem;
}
  .tag{
    background-color:aliceblue ;
    color:black;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  